@use "./variables" as v;

*, *::before, *::after {
  box-sizing: border-box;
}
h1, h2, h3, p {
  padding: 0;
  margin: 0;
}
img {
  max-width: 100%;
  display: block;
}

body {
  font-family: v.$ff-primary;
  font-size: v.$fs-300;
  text-align: center;
  color: v.$clr-500;
  line-height: v.$line-height-500;
  background-color: v.$clr-300;

  .container {
    width: 90%;
    max-width: 60em;
    margin-inline: auto;
  }
}

.card {
  background-color: v.$clr-white;
  padding: v.$spacing-200 v.$spacing-200 v.$spacing-500;
  border-radius: v.$border-radius * 2;
  margin-inline: auto;
  max-width: 320px;
  margin-block: v.$spacing-300;

  img {
    margin-inline: auto;
    border-radius: v.$border-radius;
  }
  .card__text {
    padding-inline: v.$spacing-200;
    .card__text--title {
      color: v.$clr-900;
      line-height: v.$line-height-400;
      padding-block: v.$spacing-300 v.$spacing-200;
    }
  }
}