// fonts and colors
$clr-900: hsl(218 44% 22%);
$clr-500: hsl(216 15% 48%);
$clr-300: hsl(212 45% 89%);
$clr-white: hsl(0 0% 100%);

$ff-primary: "Outfit";

$fs-600: 1.375rem;
$fs-300: 0.938rem;

// spacings
$spacing-500: 40px;
$spacing-300: 24px;
$spacing-200: 16px;

$letter-spacing-400: .2px;

$line-height-500: 1.4;
$line-height-400: 1.2;

$border-radius: 0.625em;